#market {
	background-color: var(--gray-one);
}
#carousel-two {
	height: 100vh;
	z-index: 0;
}
.carousel-item {
	height: 100vh;
	min-width: 100%;
}
.carousel-item img {
	margin: 0 auto;
	position: absolute;
	left: 0;
	top: 0;
}

.video {
	min-height: var(--section-height-two);
	min-width: 100vw;
	position: fixed;
	top: var(--top-menu-height);
	z-index: -1;
}

.project-one,
.project-two,
.project-three {
	text-align: center;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.project-one {
	height: var(--section-height-one);
}
.project-two {
	height: 100%;
	position: absolute;
	z-index: 2;
}
.project-three {
	height: 100vh;
}
.project-content {
	text-align: center;
	padding: var(--padding-height) 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.text-tertiary span {
	color: var(--green-five);
}

@media all and (max-width: 690px) {
	.video {
		top: var(--promos-container-height);
	}
	.project-one {
		height: var(--section-height-one-mobile);
	}
}
@media all and (max-width: 412px) {
	.text-secondary {
		font-size: 16px;
	}
}
@media all and (max-width: 390px) {
	.heading-primary {
		font-size: 22px;
	}
}
@media all and (max-width: 375px) {
	.project-content {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media all and (max-width: 310px) {
	.text-secondary {
		font-size: 15px;
	}
}
